<div class="col-xs-12">
  <div class="panel panel-primary">
    <div class="panel-heading" *ngIf="state == 'Edit' && quotation">Edit Quotation</div>
    <div class="panel-heading" *ngIf="state == 'Add'">Add Quotation</div>
    <div class="panel-body">
      <div class="row">

        <div class="col-xs-12" *ngIf="state == 'Edit' && quotation">
          <div class="row">
            <!-- <div class="form-group col-sm-12">
              <label for="serial">Quotation Serial</label>
              <input autocomplete="no" name="serial" type="text" class="form-control" id="serial" [(ngModel)]="quotation.serial"
                readonly>
            </div> -->
            <div class="form-group col-sm-12">
              <label for="name">Quotation Name</label>
              <input autocomplete="no" name="name" type="text" class="form-control" id="name" [(ngModel)]="quotation.name"
                [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
            </div>
            <div class="form-group col-sm-6">
              <label for="date_from">Date (From)</label>
              <input autocomplete="no" name="date_from" type="date" class="form-control" id="date_from" [(ngModel)]="quotation.date_from"
                [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
            </div>
            <div class="form-group col-sm-6">
              <label for="date_to">Date (to)</label>
              <input autocomplete="no" name="date_to" type="date" class="form-control" id="date_to" [(ngModel)]="quotation.date_to"
                [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
            </div>
            <div class="form-group col-sm-6">
              <label for="type">Quotation Type</label>
              <select name="type" class="form-control" id="type" [(ngModel)]="quotation.type_id" [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
                <option value="">-- Please Select --</option>
                <option *ngFor="let type of types" value="{{type.ptype_id}}">{{type.ptype_name}}</option>
              </select>
            </div>
            <!-- <div class="form-group col-sm-6">
            <label for="price">Price (L.E)</label>
            <input autocomplete="no" name="price" type="number" class="form-control" id="price" [(ngModel)]="quotation.price"
              [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
          </div> -->
            <!-- <div class="form-group col-sm-6">
              <label for="vat_percentage">Vat</label>
              <input autocomplete="no" name="vat_percentage" type="number" class="form-control" id="vat_percentage"
                [(ngModel)]="quotation.vat_percentage" readonly>
            </div> -->
            <div class="form-group col-sm-6">
              <label for="company_name">Company Name</label>
              <input autocomplete="no" name="company_name" type="text" class="form-control" id="company_name"
                [(ngModel)]="quotation.company_name" [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
            </div>
            <div class="form-group col-sm-6">
              <label for="client_name">Client Name</label>
              <input autocomplete="no" name="client_name" type="text" class="form-control" id="client_name" [(ngModel)]="quotation.client_name"
                [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
            </div>
            <div class="form-group col-sm-6">
              <label for="client_title">Client Title</label>
              <input autocomplete="no" name="client_title" type="text" class="form-control" id="client_title"
                [(ngModel)]="quotation.client_title" [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
            </div>
            <div class="form-group col-sm-6">
              <label for="client_phone">Client Phone</label>
              <input autocomplete="no" name="client_phone" type="number" class="form-control" id="client_phone"
                [(ngModel)]="quotation.client_phone" [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
            </div>
            <div class="form-group col-xs-6">
              <label for="po_number">Po Number</label>
              <input autocomplete="no" name="po_number" type="number" class="form-control" id="po_number" [(ngModel)]="quotation.po_number"
                [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'">
            </div>
            <div class="form-group col-xs-12" *ngIf="quotation.items.length > 0">
              <label for="addItems">Add Items</label>
              <span *ngFor="let addItem of quotation.items" class="addedItemBlock">
                <i class="fa fa-times" aria-hidden="true" (click)="removeItemFromQuotation(addItem)"></i>
                <!-- <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_id" placeholder="Item ID"
                  readonly> -->
                <div class="form-group col-sm-6">
                  <label for="items">Name</label>
                  <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_name" placeholder="Item Name"
                    [disabled]="currentUserType !== 'admin'">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Description</label>
                  <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_description" placeholder="Item Description"
                    [disabled]="currentUserType !== 'admin'">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Quantity</label>
                  <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_quantity" placeholder="Item Quantity"
                    [disabled]="currentUserType !== 'admin'" (keyup)="sumTotals(addItem)">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Quantity Type</label>
                  <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.quantity_type" placeholder="Quantity Type"
                    [disabled]="currentUserType !== 'admin'">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Cost</label>
                  <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_cost" placeholder="Item Cost"
                    [ngClass]="{'disBg': currentUserType !== 'admin'}" [disabled]="currentUserType !== 'admin'" (keyup)="sumTotals(addItem)">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Total Cost</label>
                  <input type="number" class="form-control col-xs-12" [(ngModel)]="addItem.item_totalcost" placeholder="Total Cost"
                    [ngClass]="{'disBg': currentUserType !== 'admin'}" readonly>
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Price</label>
                  <input type="number" class="form-control col-xs-12" [(ngModel)]="addItem.item_price" placeholder="Item Price"
                    [disabled]="currentUserType !== 'admin' && currentUserType !== 'account manager'" (keyup)="sumTotals(addItem)">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Total Price</label>
                  <input type="number" class="form-control col-xs-12" [(ngModel)]="addItem.item_totalprice" placeholder="Total Price"
                    readonly>
                </div>
              </span>
            </div>
            <div class="form-group col-xs-12">
              <label for="items">Items</label>
              <select name="items" class="form-control" id="items" (change)="addNewItemToQuotation(itemId)" [(ngModel)]="itemId"
                [disabled]="currentUserType !== 'admin'">
                <option value="">-- Please Select --</option>
                <option *ngFor="let item of items" value="{{item.item_id}}">{{item.item_name}}</option>
              </select>
            </div>
            <!-- <div class="form-group col-xs-6">
              <label for="sub_total">Sub Total</label>
              <input name="sub_total" type="number" class="form-control" id="sub_total" [(ngModel)]="quotation.sub_total"
                readonly>
            </div> -->
            <div class="form-group col-xs-6">
              <label for="total">Total</label>
              <input name="total" type="number" class="form-control" id="total" [(ngModel)]="quotation.total" readonly>
            </div>
            <div class="form-group col-xs-6">
              <label for="paid">Paid</label>
              <input name="paid" type="checkbox" class="form-control" id="paid" [(ngModel)]="quotation.paid">
            </div>
            <div class="form-group col-xs-12">
              <label for="note">Note</label>
              <textarea name="note" id="note" class="form-control" id="note" [(ngModel)]="quotation.note"></textarea>
            </div>
            <div class="col-xs-12">
              <button type="submit" class="btn btn-default" (click)="editQuotation(quotation)">Edit</button>
            </div>
          </div>
        </div>


        <div class="col-xs-12" *ngIf="state == 'Add'">
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="name">Quotation Name</label>
              <input autocomplete="no" name="name" type="text" class="form-control" id="name" [(ngModel)]="quotation.name"
                [disabled]="currentUserType !== 'admin'">
            </div>
            <div class="form-group col-sm-6">
              <label for="date_from">Date (From)</label>
              <input autocomplete="no" name="date_from" type="date" class="form-control" id="date_from" [(ngModel)]="quotation.date_from"
                [disabled]="currentUserType !== 'admin'">
            </div>
            <div class="form-group col-sm-6">
              <label for="date_to">Date (to)</label>
              <input autocomplete="no" name="date_to" type="date" class="form-control" id="date_to" [(ngModel)]="quotation.date_to"
                [disabled]="currentUserType !== 'admin'">
            </div>
            <div class="form-group col-sm-6">
              <label for="type">Quotation Type</label>
              <select name="type" class="form-control" id="type" [(ngModel)]="quotation.type_id" [disabled]="currentUserType !== 'admin'">
                <option value="">-- Please Select --</option>
                <option *ngFor="let type of types" value="{{type.ptype_id}}">{{type.ptype_name}}</option>
              </select>
            </div>
            <!-- <div class="form-group col-sm-6">
            <label for="price">Price (L.E)</label>
            <input autocomplete="no" name="price" type="number" class="form-control" id="price" [(ngModel)]="quotation.price"
              [disabled]="currentUserType !== 'admin'">
          </div> -->
            <!-- <div class="form-group col-sm-6">
              <label for="vat_percentage">Vat</label>
              <input autocomplete="no" name="vat_percentage" type="number" class="form-control" id="vat_percentage"
                [(ngModel)]="quotation.vat_percentage" readonly>
            </div> -->
            <div class="form-group col-sm-6">
              <label for="company_name">Company Name</label>
              <input autocomplete="no" name="company_name" type="text" class="form-control" id="company_name"
                [(ngModel)]="quotation.company_name" [disabled]="currentUserType !== 'admin'">
            </div>
            <div class="form-group col-sm-6">
              <label for="client_name">Client Name</label>
              <input autocomplete="no" name="client_name" type="text" class="form-control" id="client_name" [(ngModel)]="quotation.client_name"
                [disabled]="currentUserType !== 'admin'">
            </div>
            <div class="form-group col-sm-6">
              <label for="client_title">Client Title</label>
              <input autocomplete="no" name="client_title" type="text" class="form-control" id="client_title"
                [(ngModel)]="quotation.client_title" [disabled]="currentUserType !== 'admin'">
            </div>
            <div class="form-group col-sm-6">
              <label for="client_phone">Client Phone</label>
              <input autocomplete="no" name="client_phone" type="number" class="form-control" id="client_phone"
                [(ngModel)]="quotation.client_phone" [disabled]="currentUserType !== 'admin'">
            </div>
            <div class="form-group col-sm-6">
              <label for="po_number">Po Number</label>
              <input autocomplete="no" name="po_number" type="number" class="form-control" id="po_number" [(ngModel)]="quotation.po_number"
                [disabled]="currentUserType !== 'admin'">
            </div>
            <div class="form-group col-sm-12" *ngIf="quotation.items.length > 0">
              <label for="addItems">Add Items</label>
              <span *ngFor="let addItem of quotation.items" class="addedItemBlock">
                <i class="fa fa-times" aria-hidden="true" (click)="removeItemFromQuotation(addItem)"></i>
                <!-- <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_id" placeholder="Item ID" readonly> -->
                <div class="form-group col-sm-6">
                  <label for="items">Name</label>
                  <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_name" placeholder="Item Name"
                    [disabled]="currentUserType !== 'accountant' && currentUserType !== 'admin'">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Description</label>
                  <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_description" placeholder="Item Description"
                    [disabled]="currentUserType !== 'accountant' && currentUserType !== 'admin'">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Quantity</label>
                  <input type="number" class="form-control col-xs-12" [(ngModel)]="addItem.item_quantity" placeholder="Item Quantity"
                    [disabled]="currentUserType !== 'accountant' && currentUserType !== 'admin'" (keyup)="sumTotals(addItem)">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Quantity Type</label>
                  <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.quantity_type" placeholder="Quantity Type"
                    [disabled]="currentUserType !== 'accountant' && currentUserType !== 'admin'">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Cost</label>
                  <input type="number" class="form-control col-xs-12" [(ngModel)]="addItem.item_cost" placeholder="Item Cost"
                    [disabled]="currentUserType !== 'accountant' && currentUserType !== 'admin'" (keyup)="sumTotals(addItem)">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Total Cost</label>
                  <input type="number" class="form-control col-xs-12" [(ngModel)]="addItem.item_totalcost" placeholder="Total Cost"
                    readonly>
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Price</label>
                  <input type="number" class="form-control col-xs-12" [(ngModel)]="addItem.item_price" placeholder="Item Price"
                    [disabled]="currentUserType !== 'admin'" (keyup)="sumTotals(addItem)">
                </div>
                <div class="form-group col-sm-6">
                  <label for="items">Total Price</label>
                  <input type="number" class="form-control col-xs-12" [(ngModel)]="addItem.item_totalprice" placeholder="Total Price"
                    readonly>
                </div>
              </span>
            </div>
            <div class="form-group col-sm-12">
              <label for="items">Items</label>
              <select name="items" class="form-control" id="items" (change)="addNewItemToQuotation(itemId)" [(ngModel)]="itemId">
                <option value="">-- Please Select --</option>
                <option *ngFor="let item of items" value="{{item.item_id}}">{{item.item_name}}</option>
              </select>
            </div>
            <!-- <div class="col-xs-6">
              <div class="form-group">
                <label for="sub_total">Sub Total</label>
                <input name="sub_total" type="number" class="form-control" id="sub_total" [(ngModel)]="quotation.sub_total"
                  readonly>
              </div>
            </div> -->
            <div class="col-xs-12">
              <div class="form-group">
                <label for="total">Total</label>
                <input name="total" type="number" class="form-control" id="total" [(ngModel)]="quotation.total" readonly>
              </div>
            </div>
            <div class="col-xs-12">
              <button type="submit" class="btn btn-default" (click)="addNewQuotation(quotation)">Add</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>