<div class="container">
    <div class="row">
        <br/>
        <div class="col text-center">
            <h2>Welcome</h2>
            <p>{{username}}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
            <div class="counter">
                <i class="fa fa-code fa-2x"></i>
                <h2>100</h2>
                <p class="count-text ">Our Customer</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="counter">
                <i class="fa fa-coffee fa-2x"></i>
                <h2>1700</h2>
                <p class="count-text ">Happy Clients</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="counter">
                <i class="fa fa-lightbulb-o fa-2x"></i>
                <h2>{{numberOfItems}}</h2>
                <p class="count-text ">Out Items</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="counter">
                <i class="fa fa-file-text fa-2x"></i>
                <h2>{{numberOfInvoices}}</h2>
                <p class="count-text ">Our Invoices</p>
            </div>
        </div>
    </div>
</div>