<!-- <p-growl [(value)]="msgs"></p-growl> -->

<div class="container">
    <div class="row">
        <br/>
        <div class="col text-center">
            <h2>Welcome</h2>
            <p>361Degrees Corp</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
            <div class="counter">
                <i class="fa fa-code fa-2x"></i>
                <h2>100</h2>
                <p class="count-text ">Our Customer</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="counter">
                <i class="fa fa-coffee fa-2x"></i>
                <h2>1700</h2>
                <p class="count-text ">Happy Clients</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="counter">
                <i class="fa fa-lightbulb-o fa-2x"></i>
                <h2>200</h2>
                <p class="count-text ">Project Complete</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="counter">
                <i class="fa fa-bug fa-2x"></i>
                <h2>1000</h2>
                <p class="count-text ">Coffee With Clients</p>
            </div>
        </div>
    </div>
</div>