<p-growl [(value)]="msgs"></p-growl>

<div class="col-xs-12">
  <div class="panel panel-primary">
    <div class="panel-heading">All Items</div>
    <div class="panel-body">
      <div class="row">

        <div class="col-xs-12">
          <table class="table">
            <thead class="black white-text">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items; let index = index">
                <!-- <th scope="row">{{item.item_id}}</th> -->
                <th scope="row">{{index + 1}}</th>
                <td>{{item.item_name}}</td>
                <td>{{item.item_description}}</td>
                <td class="actions">
                  <a (click)="deleteItem(item.item_id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                  <a routerLink="{{'/updateItem/' + item.item_id}}">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>