<div class="col-xs-12">
  <div class="panel panel-primary">
    <div class="panel-heading" *ngIf="state == 'Edit' && invoice">Edit Invoice</div>
    <div class="panel-heading" *ngIf="state == 'Add'">Add Invoice</div>
    <div class="panel-body">
      <div class="row">


        <div class="col-xs-12" *ngIf="state == 'Edit' && invoice">
          <div class="form-group">
            <label for="name">Invoice Name</label>
            <input autocomplete="no" name="name" type="text" class="form-control" id="name" [(ngModel)]="invoice.name">
          </div>
          <div class="form-group">
            <label for="type">Invoice Type</label>
            <select name="type" class="form-control" id="type" [(ngModel)]="invoice.type_id">
              <option value="">-- Please Select --</option>
              <option *ngFor="let type of types" value="{{type.ptype_id}}">{{type.ptype_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="data_from">Date (From)</label>
            <input autocomplete="no" name="data_from" type="date" class="form-control" id="data_from" [(ngModel)]="invoice.data_from">
          </div>
          <div class="form-group">
            <label for="data_to">Date (to)</label>
            <input autocomplete="no" name="data_to" type="date" class="form-control" id="data_to" [(ngModel)]="invoice.data_to">
          </div>
          <div class="form-group">
            <label for="price">Price (L.E)</label>
            <input autocomplete="no" name="price" type="number" class="form-control" id="price" [(ngModel)]="invoice.price">
          </div>
          <div class="form-group">
            <label for="vat_percentage">Vat</label>
            <input autocomplete="no" name="vat_percentage" type="number" class="form-control" id="vat_percentage" [(ngModel)]="invoice.vat_percentage"
              readonly>
          </div>
          <div class="form-group">
            <label for="company_name">Company Name</label>
            <input autocomplete="no" name="company_name" type="text" class="form-control" id="company_name" [(ngModel)]="invoice.company_name">
          </div>
          <div class="form-group">
            <label for="client_name">Client Name</label>
            <input autocomplete="no" name="client_name" type="text" class="form-control" id="client_name" [(ngModel)]="invoice.client_name">
          </div>
          <div class="form-group">
            <label for="client_phone">Client Phone</label>
            <input autocomplete="no" name="client_phone" type="number" class="form-control" id="client_phone" [(ngModel)]="invoice.client_phone">
          </div>
          <div class="form-group">
            <label for="po_number">Po Number</label>
            <input autocomplete="no" name="po_number" type="number" class="form-control" id="po_number" [(ngModel)]="invoice.po_number">
          </div>
          <div class="form-group">
            <label for="items">Items</label>
            <select name="items" class="form-control" id="items" (change)="addNewItemToInvoice(itemId)" [(ngModel)]="itemId">
              <option value="">-- Please Select --</option>
              <option *ngFor="let item of items" value="{{item.pitem_id}}">{{item.ptype_name}}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="invoice.items.length > 0">
            <label for="addItems">Add Items</label>
            <span *ngFor="let addItem of invoice.items" class="addedItemBlock">
              <i class="fa fa-times" aria-hidden="true" (click)="removeItemFromInvoice(addItem)"></i>
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_id" placeholder="Item ID" readonly>
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_name" placeholder="Item Name">
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_description" placeholder="Item Description">
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_cost" placeholder="Item Cost">
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_quantity" placeholder="Item Quantity">
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_price" placeholder="Item Price">
            </span>
          </div>
          <button type="submit" class="btn btn-default" (click)="editInvoice(invoice)">Edit</button>
        </div>


        <div class="col-xs-12" *ngIf="state == 'Add'">
          <div class="form-group">
            <label for="name">Invoice Name</label>
            <input autocomplete="no" name="name" type="text" class="form-control" id="name" [(ngModel)]="invoice.name">
          </div>
          <div class="form-group">
            <label for="type">Invoice Type</label>
            <select name="type" class="form-control" id="type" [(ngModel)]="invoice.type_id">
              <option value="">-- Please Select --</option>
              <option *ngFor="let type of types" value="{{type.ptype_id}}">{{type.ptype_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="data_from">Date (From)</label>
            <input autocomplete="no" name="data_from" type="date" class="form-control" id="data_from" [(ngModel)]="invoice.data_from">
          </div>
          <div class="form-group">
            <label for="data_to">Date (to)</label>
            <input autocomplete="no" name="data_to" type="date" class="form-control" id="data_to" [(ngModel)]="invoice.data_to">
          </div>
          <div class="form-group">
            <label for="price">Price (L.E)</label>
            <input autocomplete="no" name="price" type="number" class="form-control" id="price" [(ngModel)]="invoice.price">
          </div>
          <div class="form-group">
            <label for="vat_percentage">Vat</label>
            <input autocomplete="no" name="vat_percentage" type="number" class="form-control" id="vat_percentage" [(ngModel)]="invoice.vat_percentage"
              readonly>
          </div>
          <div class="form-group">
            <label for="company_name">Company Name</label>
            <input autocomplete="no" name="company_name" type="text" class="form-control" id="company_name" [(ngModel)]="invoice.company_name">
          </div>
          <div class="form-group">
            <label for="client_name">Client Name</label>
            <input autocomplete="no" name="client_name" type="text" class="form-control" id="client_name" [(ngModel)]="invoice.client_name">
          </div>
          <div class="form-group">
            <label for="client_phone">Client Phone</label>
            <input autocomplete="no" name="client_phone" type="number" class="form-control" id="client_phone" [(ngModel)]="invoice.client_phone">
          </div>
          <div class="form-group">
            <label for="po_number">Po Number</label>
            <input autocomplete="no" name="po_number" type="number" class="form-control" id="po_number" [(ngModel)]="invoice.po_number">
          </div>
          <div class="form-group">
            <label for="items">Items</label>
            <select name="items" class="form-control" id="items" (change)="addNewItemToInvoice(itemId)" [(ngModel)]="itemId">
              <option value="">-- Please Select --</option>
              <option *ngFor="let item of items" value="{{item.pitem_id}}">{{item.ptype_name}}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="invoice.items.length > 0">
            <label for="addItems">Add Items</label>
            <span *ngFor="let addItem of invoice.items" class="addedItemBlock">
              <i class="fa fa-times" aria-hidden="true" (click)="removeItemFromInvoice(addItem)"></i>
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_id" placeholder="Item ID" readonly>
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_name" placeholder="Item Name">
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_description" placeholder="Item Description">
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_cost" placeholder="Item Cost">
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_quantity" placeholder="Item Quantity">
              <input type="text" class="form-control col-xs-12" [(ngModel)]="addItem.item_price" placeholder="Item Price">
            </span>
          </div>
          <button type="submit" class="btn btn-default" (click)="addNewInvoice(invoice)">Add</button>
        </div>


      </div>
    </div>
  </div>
</div>