<div class="col-xs-12">
  <div class="panel panel-primary">
    <div class="panel-heading">All Invoices</div>
    <div class="panel-body">
      <div class="row">

        <div class="col-xs-12">
          <table class="table">
            <thead class="black white-text">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Company Name</th>
                <th scope="col">Po Number</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of invoices; let index = index">
                <th scope="row">{{index + 1}}</th>
                <td>{{invoice.name}}</td>
                <td>{{invoice.typename}}</td>
                <td>From <span>{{invoice.data_from}}</span> To <span>{{invoice.data_to}}</span></td>
                <td>{{invoice.company_name}}</td>
                <td>{{invoice.po_number}}</td>
                <td class="actions">
                  <a (click)="deleteItem(invoice.inv_id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                  <a routerLink="{{'/updateInvoice/' + invoice.inv_id}}">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>