<div class="col-xs-12">
  <div class="panel panel-primary">
    <div class="panel-heading" *ngIf="state == 'Edit' && user">Edit Users</div>
    <div class="panel-heading" *ngIf="state == 'Add'">Add Users</div>
    <div class="panel-body">
      <div class="row">


        <div class="col-xs-12" *ngIf="state == 'Edit' && user">

          <div class="form-group">
            <label for="user_name">Name</label>
            <input autocomplete="no" name="user_name" type="text" class="form-control" id="user_name" [(ngModel)]="user.name">
          </div>
          <div class="form-group">
            <label for="user_UserName">UserName</label>
            <input autocomplete="no" name="user_UserName" type="text" class="form-control" id="user_UserName" [(ngModel)]="user.user_name">
          </div>
          <div class="form-group">
            <label for="user_email">Email</label>
            <input autocomplete="no" name="user_email" type="email" class="form-control" id="user_email" [(ngModel)]="user.email">
          </div>
          <div class="form-group">
            <label for="user_type">type</label>
            <select name="user_type" id="user_type" class="form-control" [(ngModel)]="user.utype_id">
              <option value="">-- Please Select --</option>
              <option *ngFor="let type of types" value="{{type.utype_id}}">{{type.utype_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="user_password">Password</label>
            <input autocomplete="no" name="user_password" type="password" class="form-control" id="user_password" [(ngModel)]="user.password">
            <span class="inputNote">please if you need to update any thing her you need to write your password twise.</span>
          </div>
          <div class="form-group">
            <label for="user_confirmPassword">Confirm Password</label>
            <input autocomplete="no" name="user_confirmPassword" type="password" class="form-control" id="user_confirmPassword" [(ngModel)]="user.confirm">
          </div>

          <button type="submit" class="btn btn-default" (click)="editUser(user)">Edit</button>
        </div>


        <div class="col-xs-12" *ngIf="state == 'Add'">

          <div class="form-group">
            <label for="user_name">Name</label>
            <input autocomplete="no" name="user_name" type="text" class="form-control" id="user_name" [(ngModel)]="user.name">
          </div>
          <div class="form-group">
            <label for="user_UserName">UserName</label>
            <input autocomplete="no" name="user_UserName" type="text" class="form-control" id="user_UserName" [(ngModel)]="user.user_name">
          </div>
          <div class="form-group">
            <label for="user_email">Email</label>
            <input autocomplete="no" name="user_email" type="email" class="form-control" id="user_email" [(ngModel)]="user.email">
          </div>
          <div class="form-group">
            <label for="user_type">type</label>
            <select name="user_type" id="user_type" class="form-control" [(ngModel)]="user.utype_id">
              <option value="">-- Please Select --</option>
              <option *ngFor="let type of types" value="{{type.utype_id}}">{{type.utype_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="user_password">Password</label>
            <input autocomplete="no" name="user_password" type="password" class="form-control" id="user_password" [(ngModel)]="user.password">
          </div>
          <div class="form-group">
            <label for="user_confirmPassword">Confirm Password</label>
            <input autocomplete="no" name="user_confirmPassword" type="password" class="form-control" id="user_confirmPassword" [(ngModel)]="user.confirm">
          </div>


          <button type="submit" class="btn btn-default" (click)="addAndUpdateUser(user)">Add</button>
        </div>


      </div>
    </div>
  </div>
</div>