<!DOCTYPE html>
<html>
	 
	<body>
 
		<h1><%= name %> </h1>
		<script type="text/javascript"> 
			var x=33; var y=10; 
			var result=x+y;
			document.write("**************Simple Calculator******************<br>")	;
			document.write("<table border=2 style=font-size:24px;color:blue>");
			document.write("<tr>");
			document.write("<th>x=</th><th>"+x +"<th> y=</th><th>"+y+"</th>");
			document.write("</tr>");
			document.write("<tr>");
			document.write("<td colspan=2 style=background-color:gray> sum=</td><td colspan=2>"+result+"</td>");
			document.write("</tr>");
			document.write("<tr>");
			result=x-y;
			document.write("<td colspan=2 style=background-color:gray> diff=</td><td colspan=2>"+result+"</td>");
			document.write("</tr>");
			document.write("<tr>");
			result=x*y;
			document.write("<td colspan=2 style=background-color:gray> prod=</td><td colspan=2>"+result+"</td>");
			document.write("</tr>");
			document.write("<tr>");
			result=x/y;
			document.write("<td colspan=2 style=background-color:gray>div=</td><td colspan=2>"+result+"</td>");
			document.write("</tr>");
			document.write("<tr>");
			result=x%y;
			document.write("<td colspan=2 style=background-color:gray>mod=</td><td colspan=2>"+result+"</td>");
			document.write("</tr>");
			document.write("<tr>");
			result=++x;
			document.write("<td colspan=2 style=background-color:gray>x++=</td><td colspan=2>"+result+"</td>");
			document.write("</tr>");
			document.write("<tr>");
			result=--y;
			document.write("<td colspan=2 style=background-color:gray>y--=</td><td colspan=2>"+result+"</td>");
			document.write("</tr>"); 
			document.write("</table>");
			document.write("**************End Simple Calculator******************<br>")	;
			 
		</script>
 
 	
</body>
</html>